.over {
		color:#FFF;
		background: #47A508;
}

#area-grafico{
	border:1px solid #fff;
}

.pizza{
	margin-top:20px;
	border:1px solid #fff;
	width:365px;
}

#equip-member{
	line-height:32px;
	margin-bottom:5px;
}

.icon-social{
	float:left;
	position:relative;	
	margin-right:5px;
}
